# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Build Release
        run: dotnet publish

      - name: Create NuGet Package
        run: dotnet pack /p:Version=2022.3-rc${{github.run_id}}.${{github.run_attempt}}

      - name: List Files
        run: ls -ln ActionPlayground/bin/Release
      #- name: Publish NuGet Package
      #run: dotnet nuget push **/*.nupkg --api-key ${{secrets.NUGET_API_KEY}} - https://api.nuget.org/v3/index.json -n true
